@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}
@*
<div id="particles-js" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;"></div> 
*@

<div style="position: relative; z-index: 1;">
<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 92vh;">
    <div class="p-5 shadow rounded" style="background-color: rgba(100, 100, 120, 0.85); width: 50%;">
        <div class="text-center">
            <h3 class="display-4">Change Password</h3>
        </div>
            <div class="row mt-4 justify-content-center">
            <div class="col-md-8">
                <form asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CurrentPassword" class="control-label"></label>
                            <input asp-for="CurrentPassword" class="form-control" type="password" id="currentPassword" name="CurrentPassword" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @* <label class="control-label">Confirm Password</label> *@
                        @* <input class="form-control" type="password" id="confirmPassword" name="ConfirmPassword"  /> *@
                            <label asp-for="NewPassword" class="control-label"></label>
                            <input asp-for="NewPassword" class="form-control" type="password" id="newPassword" name="NewPassword" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
      @*                       <div class="form-group">
                                <input type="submit" class="success-btn btn btn-primary mt-2" value="ChangePassword"/>
                            </div> *@
                            <button asp-action="ChangePassword" asp-controller="Account" type="submit" id="login-btn" class="success-btn btn btn-primary mt-2">Change Password</button>
                        <a asp-action="Index" asp-controller="Home" id="register-btn" type="button" class="btn btn-secondary mt-2">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*
</div>
*@

