
/*General Settings*/

html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Body Background Color */
body {
    background-color: hsla(216, 6%, 20%, 0.95);
}

/* Nav Background Color */
nav {
    background-color: hsla(216, 6%, 20%, 1);
}

/* asp.net button settings*/
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* customised button success */
.success-btn {
    background-color: rgb(65, 54, 138);
    border-color: rgb(70, 70, 100);
    margin: 0px 0px 0px 10px;
}

/* customised button */
.btn {
    border-radius: 25% 10%;
    color: white;
    background-color: rgb(50, 50, 100);
    border-color: rgb(70, 70, 100);
    margin: 0px 0px 0px 10px;
}

/* general button hover effect */
.btn:hover {
    box-shadow: 0px 3px 8px #9ac0ff;
}

/* General size adjustment */
.form-control, .btn, label {
    font-size: 1.1em;
}

/* Labels */
.form-group label {
    margin-bottom: 3px; /* Add margin to the labels */
    font-size: larger;
}

/* inputfields */
.form-control {
    width: 100%;
}




/*LoginPage*/

/* Login background */
.background-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%);
    z-index: 1;
}

/* Login background */
.background-content {
    background-color: hsla(216, 6%, 20%, 0.8);
    padding: 50px;
    border-radius: 15%;
    width: auto;
    max-height: auto;
    height: 80vh;
    overflow: hidden;
}


/* Background Lobby and Change Password */
#particles-js {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0px;
    z-index: 1;
    position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;
}



/*Homepage*/

/* Homepage loading bar */
#progress-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/* Homepage loading bar */
#progress {
    font-family: 'Code';
    font-size: 24px;
    font-weight: bold;
    color: white;
}

