@* @model VierGewinnt.ViewModels.GameViewModel
@{
    ViewData["Title"] = "_PartialViewName";
}

@* <p class="text-light">Letzter Zug: @Model.Column</p> *@
@* <p class="text-light">Letzter Zug: @Model.Column/p> *@
@* <p class="text-light">Roboter ist nicht ready *@
    @* <div id="robotStatus"> *@
        @* blabla *@
    @* </div> *@