@model VierGewinnt.ViewModels.GameViewModel

@{
    ViewData["Title"] = "Player vs Robot";
}

<div class="text-center">
    <h1 class="display-4 text-light">Player vs Roboking</h1>
</div>

<div id="playerOne">
    <label>PlayerOne:</label>
    <p>@Model.PlayerOne</p>
</div>

<div class="container mt-5">
    <h2 class="text-center text-light">Turn 1: Player 1</h2>
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="connect4-board">
                @for (int row = 0; row < 6; row++)
                {
                    <div class="connect4-row">
                        @for (int col = 0; col < 7; col++)
                        {
                            <div class="connect4-cell" data-col="@col"></div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    <div id="playerTwo">
        <label>PlayerTwo:</label>
        <p> @Model.PlayerTwo</p>
    </div>

</div>
