@using VierGewinnt.Data.Models
@model GameLobbyViewModel
@inject SignInManager<ApplicationUser> signInManager

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div class="container">
    <div class="row p-1">
        <div class="col-6">
            <ul class="text-light" id="playerList"></ul>
        </div>
    </div>
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>