@model GameLobbyViewModel
@inject SignInManager<IdentityUser> signInManager

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
* {
  font-family: arial;
  scroll-behavior: smooth;
}
section {
  max-width: 300px;
}
ul {
    padding: 0;
}
li {
  background-color: #333;
  color: white;
  list-style-position: inside;
  margin-bottom: 2px;
  padding: 4px 0 4px 10px;
}
li:hover {
  background-color: #999;
}
a {
  text-decoration: none;
  color: white;
}
</style>

<div class="container">
    <div class="row p-1">
        <div class="col-6">
            <ul id="playerList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>