@using VierGewinnt.Data.Models
@model GameLobbyViewModel
@inject SignInManager<ApplicationUser> signInManager

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mt-4">
        <div class="col">
            <h2 class="text-light">Player Lobby</h2>
            <div class="lobby-container" style="max-width: 300px;">
                <ul class="text-light list-group" id="playerList"></ul>
            </div>
        </div>
        <div class="col">
            <h2 class="text-light">Robot Lobby</h2>
            <form>
                <input type="text" id="testtext"></input>
                <button id="test" type="submit">Create Robot</button>
            </form>
            <div class="lobby-container" style="max-width: 300px;">
                <ul class="text-light list-group" id="robotList">
                    <li class="list-group-item d-flex justify-content-between align-items-center"><a href="#" class="text-decoration-none">Test Robot 1</a> <span class="dot bg-danger"></span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><a href="#" class="text-decoration-none">Test Robot 2</a> <span class="dot bg-success"></span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center"><a href="#" class="text-decoration-none">Test Robot 3</a> <span class="dot bg-success"></span></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <h2 class="text-light">Choose 2 Robots</h2>
            <div class="lobby-container-small" style="max-width: 300px; display: flex; flex-direction: column;">
                <ul class="text-light list-group" id="selectedRobots"></ul>

            </div>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/playerlobby.js"></script>