@using VierGewinnt.Data.Models
@model GameLobbyViewModel
@inject SignInManager<ApplicationUser> signInManager

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mt-4">
        <div class="col">
            <h2 class="text-light">Player Lobby</h2>
            <div class="lobby-container" style="max-width: 300px;">
                <ul class="text-light list-group" id="playerList"></ul>
            </div>
        </div>
        <div class="col">
            <h2 class="text-light">Robot Lobby</h2>
            <form>
                <input type="text" id="testtext"></input>
                <button id="test" type="submit">Create Robot</button>
            </form>
            <div class="lobby-container" style="max-width: 300px;">
                <ul class="text-light list-group" id="robotList">
                </ul>
            </div>
        </div>
        <div class="col">
            <h2 class="text-light">Drag 2 Robots</h2>
            <div class="lobby-container-small" style="display: flex; flex-direction: column;">
                <ul class="text-light list-group" id="selectedRobots"></ul>
            </div>
            <button class="success-btn btn btn-primary mt-2" id="RvsRButton">Robot vs Robot</button>
        </div>
    </div>
</div>

<div id="challengeModal">
    <div>
        <label id="modalLabel" class="text-light">Do you accept the challenge?</label>
        <label id="timer" class="text-light"></label>
        <button class="success-btn btn btn-primary mt-2" id="confirmButton">Accept</button>
        <button class="success-btn btn btn-primary mt-2" id="abortButton">Abort</button>
    </div>
</div>

<div id="abortModal">
    <div>
        <label class="text-light">A Player was not ready for the game. Game aborted.</label>
        <button class="success-btn btn btn-primary mt-2" id="okButton">Ok</button>
    </div>
</div>

<div id="matchmakingInProgress">
    <p class="text-light">Matchmaking in progress...</p>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/playerlobby.js"></script>