@model VierGewinnt.ViewModels.LeaderboardViewModel
@using VierGewinnt.Data.Model

@{
    ViewData["Title"] = "Leaderboard";
    var playerRankings = Model.PlayerRankings.ToList(); // Convert to list to enable indexing
}
<div class="container">
    <div class="row mt-4">
        <div class="col text-center">
            <h2 class="text-light">Bestenliste</h2>
        </div>
    </div>

    <ul>
        @for (int i = 0; i < playerRankings.Count; i++)
        {
            var pr = playerRankings[i];
            string borderColor;
            string border;
            int rank = (i + 1);

            switch (i)
            {
                case 0:
                    borderColor = "rgba(255, 215, 0, 1)"; // Gold
                    border = "6mm ridge";
                    break;
                case 1:
                    borderColor = "rgba(192, 192, 192, 1)"; // Silver
                    border = "5mm ridge";
                    break;
                case 2:
                    borderColor = "rgba(205, 127, 50, 1)"; // Bronze
                    border = "4mm ridge";
                    break;
                default:
                    borderColor = "rgba(107, 164, 219, 0.8)"; // Default
                    border = "3mm ridge";
                    break;
            }

            <li class="list-group-item" style="width:100%; border:@border; border-color:@borderColor;">
                <div class="d-flex flex-column align-items-center">
                    <label class="fw-bold mb-2">Rank @rank: @pr.PlayerName</label>
                    <label>Anzahl Siege: @pr.Wins</label>
                </div>
            </li>
        }
    </ul>
</div>
