@model VierGewinnt.ViewModels.LeaderboardViewModel;
@using VierGewinnt.Data.Model;

@{
    ViewData["Title"] = "Leaderboard";
}
<div class="container">
    <div class="row mt-4">
        <div class="col text-center">
            <h2 class="text-light">Bestenliste</h2>
        </div>
    </div>
 
</div>

@foreach (PlayerRanking pr in Model.PlayerRankings)
{
    <tr>
        <td>@pr.Player.UserName</td>
        <td>@pr.Wins</td>
    </tr>
}