@{
    ViewData["Title"] = "Match History";
}
<div class="container">
    <div class="row mt-4">
        <div class="col text-center">
            <h2 class="text-light">Spielrückblick</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item">Match 1</li>
                <li class="list-group-item">Match 2</li>
                <li class="list-group-item">Match 3</li>
                <!-- Add more list items as needed -->
            </ul>
        </div>
    </div>
</div>