@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    bool success = ViewBag.IsSuccess ?? false;
}
<link rel="stylesheet" href="~/css/board.css" asp-append-version="true" />
<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 92vh;">
    <div class="p-5 shadow rounded" style="background-color: hsla(216, 6%, 20%, 0.8); width: 50%;">
        <div class="text-center">
            <h3 class="display-4 text-light">Change Password</h3>
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="col-md-8">
                <form asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CurrentPassword" class="control-label text-light"></label>
                        <input asp-for="CurrentPassword" class="form-control" type="password" id="currentPassword" name="CurrentPassword" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label text-light"></label>
                        <input asp-for="NewPassword" class="form-control" type="password" id="newPassword" name="NewPassword" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button asp-action="ChangePassword" asp-controller="Account" type="submit" id="login-btn"  class="success-btn btn btn-primary mt-2">Change Password</button>
                        <a asp-action="Lobby" asp-controller="Game" id="register-btn" type="button" class="btn btn-secondary mt-2">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="passwordSuccessModal">
        <div>
            <label class="text-light">Passwort wurde geändert</label>
            <button class="success-btn btn btn-primary mt-2" id="okButton">Ok</button>
        </div>
    </div>
</div>
<script src="~/js/passwordChange.js" asp-append-version="true"></script>
@if (success)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            showGameOverModal();
        });
    </script>
}