@model EmailConfirmModel

@{
    ViewData["Title"] = "Confirm email";
}

<div class="container">
    <div class="row text-center">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            @if (Model.EmailVerified == true)
            {
                <div class="alert alert-success" role="alert">
                    <h4>Your email has been verified successfully.</h4>
                </div>
            }
            else
            {
                if (Model.EmailSent)
                {
                    <br />
                    <h4 class="text-light">Email sent on your registered email id.</h4>
                }

                else
                {
                    <br />
                    <h4 class="text-light">We have sent an email to your mail account. Click on the link to login.</h4>
                }

                <form asp-action="ConfirmEmail">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Email" />
                    <br />
                    <h5 class="text-light">Did not get any email or deleted by mistake?</h5>
                    <div class="form-group">
                        <input type="submit" value="Resend confirmation email" class="btn btn-primary" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>